<script>
  import { onMount, onDestroy } from 'svelte';
  import Details from '@c/Details.html';
  import { _ } from 'svelte-i18n';

  let open;

  function initDisqus(e) {
    if (!open) { return; }

    if (window.DISQUS) {
      window.DISQUS.reset({
        reload: true,
      });
      return;
    }
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://rplus-pokedex.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  }

  function onToggle(e) {
    open = e.detail.open;
    initDisqus();
  }

  onMount(() => {
    addEventListener('pushstate', initDisqus);
    addEventListener('popstate', initDisqus);
  });

  onDestroy(() => {
    removeEventListener('pushstate', initDisqus);
    removeEventListener('popstate', initDisqus);
  })
</script>



<Details type="comment" class="card" on:toggle={onToggle}>
  <summary><h3>{$_('comment')}</h3></summary>
  <div>
    <div id="disqus_thread"></div>
  </div>
</Details>
