<script>
  import { pokemons, settings } from '@/stores.js';
  import { cdnImgSrc, ASSET_FOLDER } from '@/u.js';
  export let data;

  $: {
    data.pm = getPm(data.form || data.name) || getPm(data.name);
    let fn = data.suffix
      ? data.suffix
      : `000${data.pm.dex}`.slice(-3)
        + (data.iso ? `_${('00' + data.iso).slice(-2)}` : '_00')
        + ($settings.io.shinyAvatar ? '_shiny' : '');
    data.src = cdnImgSrc(pmImgFN(fn));
  }

  // let candySrc = cdnImgSrc(`${ASSET_FOLDER}static_assets/png/pokemon_details_candy.png`, 32);
  let candySrc = cdnImgSrc(`${ASSET_FOLDER}/Images/Items/pokemon_details_candy.png`, 32);

  function getPm(pid) {
    if (!$pokemons.length) {
      return false;
    }
    return $pokemons.find(pm => pm.id === pid);
  }

  function pmImgFN(fn) {
    // return `${ASSET_FOLDER}/pokemon_icons/pokemon_icon_${fn}.png`;
    return `${ASSET_FOLDER}/Images/Pokemon%20-%20256x256/pokemon_icon_${fn}.png`;
  }

  function scrollIntoView() {
    this.scrollIntoView();
  }
</script>



<div class="family-tree df ai-c text-center fz-s mb-2">
  <a class="pm df fd-c text-no-decoration"
    title="#{data.pm.dex} {data.pm.name}"
    href="./pokemon/{data.pm.uid}"
    on:click={scrollIntoView}
  >
    <div class="pm-img mb-1"
      data-id="{data.pm.uid}"
      data-dex="#{data.pm.dex}"
      style="background-image: url({data.src}); --bdw: var(--uid-bdw-{data.pm.uid}, 0px);"
    />
    {@html data.pm.name.replace(' ', '<br />')}
  </a>


  {#if data.next}
    <div class="family-next df fd-c">

      {#each data.next as item}
        <div class="df">

          <!-- evolve-requirement -->
          <div class="df fd-c jc-c text-nowrap">
            <div class="d-if flex-center">
              {item.candyCost}
              <img class="candy" src={candySrc} alt="candy">
            </div>

            <div>➡</div>

            {#if item.requirement}
              <div class="rs pos-r">
                <details>
                  <summary dir="ltr" class="r-summary">條件</summary>
                  <ul class="rs-list pos-a m-0 text-left">
                    {#each item.requirement as ri}
                      <li>{ri}</li>
                    {/each}
                  </ul>
                </details>
              </div>
            {/if}
          </div>

          <svelte:self data={item} />
        </div>
      {/each}

    </div>
  {/if}
</div>


<style>
  .family-tree {
    --unit: 72px;
    width: fit-content;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }

  .family-tree :global(.family-tree) {
    margin-top: .5em;
    margin-left: 1em;
    margin-bottom: .5em;
    padding-left: 1em;
  }

  .family-next {
    margin-left: 1em;
  }

  .pm {
    color: inherit;
  }

  .pm-img {
    position: relative;
    width: calc(var(--unit) * var(--zoom-ratio, 1));
    height: calc(var(--unit) * var(--zoom-ratio, 1));
    background-size: cover;
    color: #aaa;
    box-shadow: inset 0 0 1px var(--bdw);
  }

  .pm-img::before {
    position: absolute;
    top: .1em;
    left: .25em;
    content: attr(data-dex);
    font-size: smaller;
  }

  .candy {
    width: 12px;
    height: 12px;
  }

  .r-summary {
    text-indent: -1em;
    color: #999;
  }

  .rs-list {
    padding: .25em 1.5em;
    background-color: #6666;
    z-index: 1;
    backdrop-filter: blur(3px);
  }
</style>
