<script>
  let queryUpdateTime = queryCommitInfo();

  async function queryCommitInfo() {
    const latest_commit_url = 'https://api.github.com/repos/Rplus/pokedex/branches/gh-pages';
    let r = await fetch(latest_commit_url);
    let data = await r.json();
    if (r.ok) {
      try {
        return data.commit.commit.committer.date;
      } catch (e) {
        throw new Error(e);
      }
    } else {
      throw new Error(r);
    }
  }
</script>


<hr>
<hr>
<hr>
<hr>

<footer class="df">
  <ul class="ml-a fz-s">
    <li>
      GitHub: <a href="https://github.com/rplus/pokedex">Rplus / pokedex</a>
    </li>
    <li>
      Data: <a href="https://github.com/pvpoke/pvpoke">PvPoke</a> , <a href="https://github.com/PokeMiners/game_masters">PokeMiners</a>
    </li>
    <li>
      Relesed with: <a href="https://opensource.org/licenses/MIT">MIT license</a>
    </li>
    {#await queryUpdateTime then date}
      <li>
        update on:
        <time class="ff-m" datetime={date}>{date.slice(0, 10)}</time>
      </li>
    {/await}
  </ul>
</footer>



<style>
  footer {
    font-style: italic;
    font-family: serif;
    color: #666;
  }

  a {
    color: #66a;
  }

  li {
    list-style-type: square;
  }

</style>
