<script>
  import { createEventDispatcher } from 'svelte';
  import { calPmCPHP, flatten } from '@/u.js';
  import Dialog from '@c/Dialog.html';

  export let hidden = true;
  export let ads;
  export let lv = 20;

  const dispatch = createEventDispatcher();

  let showAllList = false;

  let selectedLvs = [lv];
  let selectableLvs = new Array(40).fill(1).map((i, j) => ({
    value: j + 1,
    disabled: false,
  }));

  let ivRange = [10, 11, 12, 13, 14, 15].reverse();
  let ivList = flatten(
    ivRange.map(atk =>
      ivRange.map(def =>
        ivRange.map(sta => ({ atk, def, sta, iv: Math.round((atk + def + sta) / .45) }))
      )
    )
  , 2
  );

  let cpList;

  $: {
    selectedLvs;
    selectableLvs = selectableLvs.map(lv => {
      lv.disabled = checkDisabledLv(lv.value);
      return lv;
    });
    cpList = genCPList();;
  }


  function close() {
    dispatch('close');
  }

  function checkDisabledLv(lv) {
    return (selectedLvs.length >= 3 && selectedLvs.indexOf(lv) === -1) ||
    (selectedLvs.length === 1 && selectedLvs.indexOf(lv) === 0);
  }

  function genCPList() {
    return ivList.map(iv => {
      let { atk, def, sta } = iv;
      return {
        ...iv,
        data: selectedLvs.map(lv => {
          let { cp, hp } = calPmCPHP(ads, [atk, def, sta, lv]);
          return {
            lv,
            cp,
            hp,
          }
        }),
      };
    });
  }
</script>



<Dialog closeFn={close} hidden={hidden}>
  <div class="card iv-card">

    <details class="mb-4" open>
      <summary class="sticky top-0">Lv [{selectedLvs}] CP list</summary>
      {#if cpList}
        <table class:is-shall-all={showAllList} class="ml-a mr-a text-right">
          <thead class="thead pokemon-table sticky-thead">
            <tr>
              {#each selectedLvs as lv}
                <th>CP<sup class="fw-n">{lv}</sup></th>
              {/each}
              <th>A</th>
              <th>D</th>
              <th>S</th>
              <th>IV</th>
              {#each selectedLvs as lv}
                <th hidden={selectedLvs.length > 1}>HP</th>
              {/each}
            </tr>
          </thead>
          <tbody>
            {#each cpList as item}
              <tr>
                {#each item.data as d}
                  <td>{d.cp}</td>
                {/each}
                <td>{item.atk}</td>
                <td>{item.def}</td>
                <td>{item.sta}</td>
                <td>{item.iv}</td>
                {#each item.data as d}
                  <td hidden={selectedLvs.length > 1}>{d.hp}</td>
                {/each}
              </tr>
            {/each}
          </tbody>
        </table>

        <div class="read-more text-center mt-2 mb-2">
          <label class="label">
            <input type="checkbox" bind:checked={showAllList}>
            <span>show all?</span>
          </label>
        </div>
      {/if}
    </details>

    <details class="mb-4">
      <summary class="sticky top-0">Lv?</summary>
      <div class="lvs text-center">
        {#each selectableLvs as lv}
          <label class="lvs-label label">
            <input class="label-checkbox hidden-checkbox" type="checkbox"
              value={lv.value}
              bind:group={selectedLvs}
              disabled={lv.disabled}
            >
            <div class="label-text pt-1 pb-1 w-100">{lv.value}</div>
          </label>
        {/each}
      </div>
    </details>
  </div>
</Dialog>




<style>
  .iv-card {
    width: 22rem;
    max-width: 90vw;
    max-height: 80vh;
    min-height: 20rem;
    overflow: auto;
  }

  table:not(.is-shall-all) tr:nth-of-type(n + 30) {
    display: none;
  }

  table:not(.is-shall-all) + .read-more::before {
    content: '...';
  }

  tbody td {
    padding-top: .1rem;
    padding-bottom: .1rem;
  }

  tbody tr:nth-of-type(5n - 4) td {
    padding-top: .75em;
  }

  .sticky-thead th {
    top: 1em;
  }

  summary.sticky {
    top: -2px;
    padding-top: 2px;
    background-color: #fff;
  }

  .lvs-label {
    position: relative;
    width: 12%;
    margin: .5em 3%;
  }

  .label-text {
    background-color: #eee;
  }

  .label-checkbox[disabled] + .label-text {
    opacity: .3;
    pointer-events: none;
  }

  .label-checkbox:checked + .label-text {
    box-shadow: inset 0 0 0 2px;
  }
</style>
