<script>
  import { createEventDispatcher } from 'svelte';
  import { calPmCPHP, flatten } from '@/u.js';
  import Dialog from '@c/Dialog.html';
  import { TableSort } from 'svelte-tablesort';

  export let hidden = true;
  export let ads;
  export let lv = 20;

  const dispatch = createEventDispatcher();

  let showAllList = false;

  let selectedLvs = [lv];
  let selectableLvs = new Array(51).fill(1).map((i, j) => ({
    value: j + 1,
    disabled: false,
  }));

  let ivRange = [10, 11, 12, 13, 14, 15].reverse();
  let ivList = flatten(
    ivRange.map(atk =>
      ivRange.map(def =>
        ivRange.map(sta => ({ atk, def, sta, iv: Math.round((atk + def + sta) / .45) }))
      )
    )
  , 2
  );

  let cpList;

  $: {
    selectedLvs;
    selectableLvs = selectableLvs.map(lv => {
      lv.disabled = checkDisabledLv(lv.value);
      return lv;
    });
    cpList = genCPList();
  }

  function close() {
    dispatch('close');
  }

  function checkDisabledLv(lv) {
    return (selectedLvs.length >= 3 && selectedLvs.indexOf(lv) === -1) ||
    (selectedLvs.length === 1 && selectedLvs.indexOf(lv) === 0);
  }

  function genCPList() {
    return ivList.map(iv => {
      let { atk, def, sta } = iv;
      let op = {...iv};
      const datas = selectedLvs.map(lv => {
        let { cp, hp } = calPmCPHP(ads, [atk, def, sta, lv]);
        return { lv, cp, hp, }
      });
      datas.forEach((i, index) => {
        op[`cp${index}`] = i.cp;
        op[`hp${index}`] = i.hp;
        op[`lv${index}`] = i.lv;
      })

      return op;
    });
  }
</script>



<Dialog closeFn={close} hidden={hidden}>
  <div class="card iv-card">

    <details class="mb-4" open>
      <summary class="sticky top-0">Lv [{selectedLvs}] CP list</summary>
      {#if cpList}
        <div class:is-show-all={showAllList} class="table-box">
          <TableSort items={cpList} class="cp-table ml-a mr-a text-center">
            <tr slot="thead" class="thead pokemon-table sticky-thead">
              <th data-sort="cp0" data-sort-initial="descending">
                CP
                <sup class="fw-n">{selectedLvs[0]}</sup>
              </th>
              <th data-sort="cp1" hidden={!selectedLvs[1]}>
                CP
                <sup class="fw-n">{selectedLvs[1]}</sup>
              </th>
              <th data-sort="cp2" hidden={!selectedLvs[2]}>
                CP
                <sup class="fw-n">{selectedLvs[2]}</sup>
              </th>
              <th data-sort="atk">A</th>
              <th data-sort="def">D</th>
              <th data-sort="sta">S</th>
              <th data-sort="iv">IV</th>
              {#each selectedLvs as lv}
                <th data-sort="hp" hidden={selectedLvs.length > 1}>HP</th>
              {/each}
            </tr>
            <tr slot="tbody" let:item={item}>
              <td>{item.cp0}</td>
              <td hidden={!selectedLvs[1]}>{item.cp1}</td>
              <td hidden={!selectedLvs[2]}>{item.cp2}</td>
              <td>{item.atk}</td>
              <td>{item.def}</td>
              <td>{item.sta}</td>
              <td>{item.iv}</td>
              <td hidden={selectedLvs.length > 1}>{item.hp0}</td>
            </tr>
          </TableSort>

          <div class="read-more text-center mt-2 mb-2">
            <label class="label">
              <input type="checkbox" bind:checked={showAllList}>
              <span>show all?</span>
            </label>
          </div>
        </div>
      {/if}
    </details>

    <details class="mb-4">
      <summary class="sticky top-0">Lv?</summary>
      <div class="lvs text-center">
        {#each selectableLvs as lv}
          <label class="lvs-label label">
            <input class="label-checkbox hidden-checkbox" type="checkbox"
              value={lv.value}
              bind:group={selectedLvs}
              disabled={lv.disabled}
            >
            <div class="label-text pt-1 pb-1 w-100">{lv.value}</div>
          </label>
        {/each}
      </div>
    </details>
  </div>
</Dialog>




<style>
  .iv-card {
    width: 22rem;
    max-width: 90vw;
    max-height: 80vh;
    min-height: 20rem;
    overflow: auto;
  }

  .table-box:not(.is-show-all) .cp-table tr:nth-of-type(n + 30) {
    display: none;
  }

  .cp-table + .read-more::before {
    content: '...';
  }

  .cp-table tr td {
    padding-top: .1rem;
    padding-bottom: .1rem;
  }

  .cp-table tr:nth-of-type(5n - 4) td {
    padding-top: .75em;
  }

  .sticky-thead {
    --sticky-top: 1em;
  }

  summary.sticky {
    top: -2px;
    padding-top: 2px;
    background-color: var(--card-bgc);
  }

  .lvs-label {
    position: relative;
    width: 12%;
    margin: .5em 3%;
  }

  .label-text {
    background-color: #8884;
  }

  .label-checkbox[disabled] + .label-text {
    opacity: .3;
    pointer-events: none;
  }

  .label-checkbox:checked + .label-text {
    box-shadow: inset 0 0 0 2px;
  }
</style>
