<script>
  import { moves, settings } from '@/stores.js';
  import { copy, fixNum } from '@/u.js';
  import { types, types_zh, pvp_eff, queryTypeEffect } from '@d/eff.js';
  import { TableSort } from 'svelte-tablesort';

  import TTFA from '@c/TTFA.html';
  import Details from '@c/Details.html';
  import TypeIcon from '@c/TypeIcon.html';
  import Ruby from '@c/Ruby.html';

  export let pm;
  $: ispve = $settings.io.ispve;

  let lmoves;
  let mdata;

  let opponentType1 = '';
  let opponentType2 = '';

  let _types = [
    { v: '', l: '--' },
    ...types.map((t, idx) => ({ v: t, l: types_zh[idx] }))
  ];

  let forceBuff = 1;
  let forceBuffOptions = (pvp_eff.map(i => i.value).flat()).concat(forceBuff).sort();

  $: {
    opponentType1;
    opponentType2;
    forceBuff;

    lmoves = pm.legacyMoves;
    mdata = [
      {
        title: 'Fast Moves',
        data: pm.fastMoves.map(m => genMove(m, true)),
        setting: 'fmove',
      },
      {
        title: 'Charged Moves',
        data: pm.chargedMoves.map(m => genMove(m, false)),
        setting: 'cmove',
      }
    ];
    // console.log('mdata', mdata);
  }

  function queryMove(mname) {
    return copy($moves.find(m => m.moveId === mname));
  }

  function genMove(mname, isFast) {
    let mmm = queryMove(mname);

    mmm.typeEff = queryTypeEffect(mmm.type, opponentType1, opponentType2) * forceBuff;
    mmm.efficon = (mmm.typeEff === 1) ? '' : ((mmm.typeEff > 1) ? '▲' : '▼');

    mmm.power = fixNum(mmm.typeEff * mmm.power);

    mmm.isLegacy = (lmoves && lmoves.includes(mname));
    mmm.isFast = isFast;
    mmm.stab = (pm.types.includes(mmm.type));
    mmm.stabFactor = mmm.stab ? 1.2 : 1;

    if (isFast) {
      mmm.ept = fixNum(mmm.energyGain / mmm.turn);
      mmm.dpt = fixNum(mmm.power / mmm.turn);
      mmm.eptxdpt = fixNum(mmm.energyGain * mmm.power / (mmm.turn * mmm.turn));
    } else {
      mmm.dpe = fixNum(mmm.power / mmm.energy);
    }

    return mmm;
  }
</script>



<section class="moves">
  {#each mdata as mmm}
    <Details type={mmm.setting} class="card">
      <summary><h3>{mmm.title}</h3></summary>

      <div>
        <TableSort items={mmm.data} class="ml-a mr-a text-center {ispve ? 'narrow' : ''}">
          <tr slot="thead">
            <th data-sort="name">Name</th>

            <!-- PVE -->
            <th hidden={!ispve} data-sort="pve_power" title="Damage">D</th>

            <!-- PVP -->
            <th hidden={ispve} data-sort="power" title="Damage">D</th>

            {#if mmm.setting === 'fmove'}
              <!-- PVE -->
              <th hidden={!ispve} data-sort="pve_energyDelta" title="Energy">E</th>
              <th hidden={!ispve} data-sort="pve_duration" title="Time(s)">T</th>
              <th hidden={!ispve} data-sort="pve_dps" title="DPS">DPS</th>
              <th hidden={!ispve} data-sort="pve_eps" title="EPS">EPS</th>

              <!-- PVP -->
              <th hidden={ispve} data-sort="energyGain" title="Energy">E</th>
              <th hidden={ispve} data-sort="turn" title="Turns">T</th>
              <th hidden={ispve} data-sort="dpt" title="Damage per Turn">DPT</th>
              <th hidden={ispve} data-sort="ept" title="Energy per Turn">EPT</th>
              <th hidden={ispve} data-sort="eptxdpt" title="EPT x DPT">Π</th>
            {:else}
              <!-- PVE -->
              <th hidden={!ispve} data-sort="pve_energyDelta" title="Energy">E</th>
              <th hidden={!ispve} data-sort="pve_duration" title="Time(s)">T</th>
              <th hidden={!ispve} data-sort="pve_damageWindowStart" title="Active(s)">⚡</th>
              <th hidden={!ispve} data-sort="pve_dps" title="Damage per Second">DPS</th>
              <th hidden={!ispve} data-sort="pve_dpe" title="Damage per Energy">DPE</th>
              <th hidden={!ispve} data-sort="pve_dpsxdpe" title="DPS x DPE">Π</th>

              <!-- PVP -->
              <th hidden={ispve} data-sort="energy" title="Energy">E</th>
              <th hidden={ispve} data-sort="dpe" title="Damage per Energy">DPE</th>
              <th hidden={ispve} data-sort="effect">Effect</th>
            {/if}
          </tr>

          <tr slot="tbody" let:item={item}>
            <td class="move-name">
              <Ruby>
                <div class="pos-r" slot="rb">
                  <TypeIcon type={item.type} class="typeicon__move" />
                  <a href="./move/{item.moveId}"
                    class:is-stab={item.stab}
                    class:is-legacy={item.isLegacy}
                  >
                    {item.name}
                  </a>
                </div>
                <a class="rt" href="./move/{item.moveId}" slot="rt">
                  {item.moveId}
                </a>
              </Ruby>
            </td>
            <td data-efficon={item.efficon}>{ispve ? item.pve_power : item.power}</td>

            {#if mmm.setting === 'fmove'}
              <td>{ispve ? item.pve_energyDelta : item.energyGain}</td>
              <td>{ispve ? item.pve_duration : item.turn}</td>
              <td>{ispve ? item.pve_dps : item.dpt}</td>
              <td>{ispve ? item.pve_eps : item.ept}</td>
              <!-- PVE fast -->
              <!-- <td hidden={!ispve}>{item.pve_energyDelta}</td> -->
              <!-- <td hidden={!ispve}>{item.pve_duration}</td> -->
              <!-- <td hidden={!ispve}>{item.pve_dps}</td> -->
              <!-- <td hidden={!ispve}>{item.pve_eps}</td> -->

              <!-- PVP fast -->
              <!-- <td hidden={ispve}>{item.energyGain}</td> -->
              <!-- <td hidden={ispve}>{item.turn}</td> -->
              <!-- <td hidden={ispve}>{item.dpt}</td> -->
              <!-- <td hidden={ispve}>{item.ept}</td> -->
              <td hidden={ispve}>{item.eptxdpt}</td>
            {:else}
              <!-- PVE Charge -->
              <td hidden={!ispve} class="energy-bar" style="--bgzx: {-item.pve_energyDelta}%">{item.pve_energyDelta}</td>
              <td hidden={!ispve}>{item.pve_duration}</td>
              <td hidden={!ispve}>{item.pve_damageWindowStart}</td>
              <td hidden={!ispve}>{item.pve_dps}</td>
              <td hidden={!ispve}>{item.pve_dpe}</td>
              <td hidden={!ispve}>{item.pve_dpsxdpe}</td>

              <!-- PVP Charge -->
              <td hidden={ispve} class="energy-bar" style="--bgzx: {item.energy}%">{item.energy}</td>
              <td hidden={ispve}>{item.dpe}</td>
              <td hidden={ispve} class="fz-s">{item.effect}</td>
            {/if}
          </tr>
        </TableSort>

      </div>
    </Details>
  {/each}
</section>

{#if pm.dex !== 235 && !ispve}
<TTFA mdata={mdata} />
{/if}

<Details type="opponent_type" class="card opponent_type_card">
  <summary><h3>模擬對方屬性</h3></summary>
  <div class="df jc-se">
    <div>
      type 1:
      <select bind:value={opponentType1} class="text-capitalize">
        {#each _types as type}
          <option value={type.v}>{type.l} {type.v}</option>
        {/each}
        <!-- {@html typeOptions} -->
      </select>
    </div>

    <div>
      type 2:
      <select bind:value={opponentType2} class="text-capitalize">
        {#each _types as type}
          <option value={type.v}>{type.l} {type.v}</option>
        {/each}
      </select>
    </div>
  </div>
  <div class="text-center">
    force Atk buff:
    <select bind:value={forceBuff}>
      {#each forceBuffOptions as i}
        <option value="{i}">{i}</option>
      {/each}
    </select>
  </div>
</Details>


<style>
  :global(.typeicon__move) {
    position: absolute;
    left: -1.2em;
  }

  :global([data-efficon]) {
    position: relative;
  }

  :global([data-efficon]::before) {
    content: attr(data-efficon);
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
  }
</style>
