<nav class="nav text-capitalize text-center mb-4">
  <ul class="m-0 p-0 df no-list-style jc-c">
    <li><a class="{ isActive('home') }" href="./">home</a></li>
    <li><a class="{ isActive('move') }" href="./move">move</a></li>
    <li><a class="{ isActive('pokemon') }" href="./pokemon">pokemon</a></li>
    <li><a class="{ isActive('info') }" href="./info">info</a></li>
    <li><a class="{ isActive('about') }" href="./about">about</a></li>
  </ul>
</nav>

<script>
  export let active;
  $: isActive = str => active === str ? 'selected' : '';
</script>

<style>
  .nav {
    border-bottom: 1px solid rgba(170,30,30,0.1);
  }
  .selected {
    box-shadow: inset 0 -2px;
  }
  a {
    text-decoration: none;
    padding: 1em 0.5em;
    display: block;
    color: #006;
  }
</style>
