<script>
import Details from '@c/Details.html';
import { TableSort } from 'svelte-tablesort';

import { fixNum, copy } from '@/u.js';
export let mdata;

let pairs;

let o_ths = [
  {
    title: 't',
    value: 'turns',
    intro: '回合',
  },
  {
    title: 'H',
    value: 'hits',
    intro: '小招攻擊次數',
  },
  // {
  //   title: 'ΣDf',
  //   value: 'dmg_f',
  //   intro: '小招累積傷害',
  // },
  {
    title: 'ΣD',
    value: 'dmg_t',
    intro: '循環傷害 (+STAB)',
  },
  {
    title: 'DPT',
    value: 'dpt',
    intro: '回合均傷 (+STAB)',
  },
  {
    // title: 'f.name',
    title: '小招',
  },
  {
    // title: 'c.name',
    title: '大招',
  },
];
let ths;

$: {
  mdata;
  genPairs();
}

function genPairs() {
  pairs = [];
  for (let f of mdata[0].data) {
    for (let c of mdata[1].data) {
      let hits = Math.ceil(c.energy / f.energyGain);
      let turns = hits * f.turn;
      let dmg_f = f.power * hits;
      let dmg_t = fixNum(dmg_f + c.power);
      let dpt = fixNum(dmg_t / turns);

      pairs = pairs.concat({
        f,
        c,
        turns,
        hits,
        dmg_f,
        dmg_t,
        dpt,
      });
    }
  }
};

</script>


<Details type="move-pair" class="card">
  <!-- svelte-ignore a11y-accesskey -->
  <summary accesskey="m"><h3>Move Pair</h3></summary>

  <div>
    <TableSort items={pairs} class="ml-a mr-a narrow">
      <tr slot="thead">
        <th data-sort="turns" title="回合" data-sort-initial>T</th>
        <th data-sort="hits" title="小招攻擊次數">H</th>
        <th data-sort="dmg_t" title="循環傷害 (+STAB)">ΣD</th>
        <th data-sort="dpt" title="回合均傷 (+STAB)">DPT</th>
        <th>小招</th>
        <th>大招</th>
      </tr>

      <tr slot="tbody" let:item={item}>
        <td>{item.turns}</td>
        <td>{item.hits}</td>
        <td>{item.dmg_t}</td>
        <td>{item.dpt}</td>
        <td class={item.f.stab ? 'is-stab' : ''} data-efficon={item.f.efficon}>{item.f.name}</td>
        <td class={item.c.stab ? 'is-stab' : ''} data-efficon={item.c.efficon}>{item.c.name}</td>
      </tr>

      <tr slot="tfoot" class="fz-s" style="color: #999">
        <td class="pt-4 pb-4">回合</td>
        <td class="pt-4 pb-4">小招<br>攻擊<br>次數</td>
        <td class="pt-4 pb-4">循環<br>傷害<br><sub>(+STAB)</sub></td>
        <td class="pt-4 pb-4">回合<br>均傷<br>(+STAB)</td>
        <td class="pt-4 pb-4">小招</td>
        <td class="pt-4 pb-4">大招</td>
      </tr>
    </TableSort>
  </div>
</Details>



<style>
</style>
