<script>
  import TypeIcon from '@c/TypeIcon.html';
  import eff from '@d/eff.js';
  import { types_zh } from '@d/eff.js';
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  export let type;
  export let route = '';

  function _clickType(_type) {
    dispatch('clicktype', {
      type: _type,
    });
  };
</script>



<div class="df fxw-w jc-c filter-icons">
  {#each eff as eff_item, index}
    <div class="mb-2 text-center">
    <TypeIcon
      type={eff_item.type}
      class={eff_item.type === type ? 'filter-icon active' : 'filter-icon'}
      click={_clickType.bind(eff_item.type)}
    />
      <a class="text-no-decoration"
        on:click|preventDefault
        href="./{route}#{eff_item.type}"
      >
        <small class="title">{types_zh[index]}</small>
      </a>
    </div>
  {/each}
</div>



<style>
  .filter-icons {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }
  :global(.filter-icon) {
    position: relative;
    margin: .125em .125em .25em;
    font-size: 2em;
  }
  :global(.filter-icon:not(.active)) {
    filter: grayscale(1) opacity(.5);
  }

  :global(.filter-icon.active) {
    filter: drop-shadow(0 .1em .05em #0009);
  }
  :global(.filter-icon.active::before) {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: .5em;
    height: .1em;
    border-radius: 50%;
    background-color: transparent;
    box-shadow:
      0 1.1em .1em #f336;
  }
  .title {
    display: block;
    margin-top: -.25rem;
    color: #999;
  }
</style>
